<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>StudentManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GoogleLoginController</display-name>
    <servlet-name>GoogleLoginController</servlet-name>
    <servlet-class>controllers.GoogleLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleLoginController</servlet-name>
    <url-pattern>/GoogleLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleLoginCallBackController</display-name>
    <servlet-name>GoogleLoginCallBackController</servlet-name>
    <servlet-class>controllers.GoogleLoginCallBackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleLoginCallBackController</servlet-name>
    <url-pattern>/GoogleLoginCallBackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocketController</display-name>
    <servlet-name>WebSocketController</servlet-name>
    <servlet-class>controllers.WebSocketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocketController</servlet-name>
    <url-pattern>/WebSocketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatController</display-name>
    <servlet-name>ChatController</servlet-name>
    <servlet-class>controllers.ChatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatController</servlet-name>
    <url-pattern>/ChatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearchController</display-name>
    <servlet-name>UserSearchController</servlet-name>
    <servlet-class>controllers.UserSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearchController</servlet-name>
    <url-pattern>/UserSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>